/* Hablidades */
.importante__habilidades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 6em;
    grid-template-areas: "titulo titulo" "word excel" "ingles ingles";
}
.habilidad {
    margin: auto;
    font-size: 3em;
    font-weight: 600;
}
.habilidades__titulo {
    grid-area: titulo;
    text-align: center;
    color: white;
    margin-top: 2em;
    font-size: 4em;
}
.habilidades__texto {
    display: inline;
}
.habilidades__img {
    width: 150px;
    height: 150px;
}
.habilidades__word {
    color: white;
    grid-area: word;
    width: 80%;
    position: relative;
    border-bottom: 15px rgb(162, 162, 162) solid;
    border-bottom-right-radius: 15px;
}
.habilidades__word__int {
    margin: auto;
    width: fit-content;
}
.habilidades__word__int > p {
    display: inline;
}
.habilidades__word__after::after {
    content: "";
    display: block;
    position: absolute;
    animation: progress-bar 0.5s ease-in-out;
    width: 90%;
    border-bottom: 15px rgb(22, 42, 153) solid;
    border-bottom-right-radius: 15px;
    -webkit-animation: progress-bar 0.5s ease-in-out;
}
.habilidades__excel {
    color: white;
    grid-area: excel;
    width: 80%;
    position: relative;
    border-bottom: 15px rgb(162, 162, 162) solid;
    border-bottom-right-radius: 15px;
}
.habilidades__excel__after::after {
    content: "";
    display: block;
    position: absolute;
    margin-right: auto;
    animation: progress-bar 0.5s ease-in-out;
    width: 90%;
    border-bottom: solid rgb(39, 160, 23) 15px;
    border-bottom-right-radius: 100px;
}
.habilidades__ingles {
    color: white;
    grid-area: ingles;
    width: 45%;
    position: relative;
    border-bottom: 15px rgb(162, 162, 162) solid;
    border-bottom-right-radius: 15px;
}
.habilidades__ingles__after::after {
    content: "";
    display: block;
    position: absolute;
    margin-right: auto;
    animation: progress-bar 0.5s ease-in-out;
    width: 90%;
    border-bottom: solid rgb(220, 47, 47) 15px;
    border-bottom-right-radius: 100px;
}
@media screen and (max-width: 800px) {
    .importante__habilidades {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-row-gap: 3em;
        grid-template-areas: "titulo" "word" "excel" "ingles";
    }
    .habilidades__titulo {
        font-size: 4em;
    }
    .habilidad {
        font-size: 1.7em;
    }
    .habilidades__ingles {
        width: 80%;
    }
    .habilidades__img {
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 600px) {
    .habilidades__titulo {
        font-size: 3em;
    }
}
@keyframes progress-bar {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}
