@import url("educación.css");
@import url("cursos.css");
@import url("habilidades.css");
:root {
    --img-height: 230px;
    --img-width: 200px;
    --img-height-small: 130px;
    --img-width-small: 110px;
    --progress-width: 90%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner {
    height: 100vh;
    display: flex;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.138),
            rgba(0, 0, 0, 0.782)
        ),
        url(../img/banner-background.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: space-around;
}

.banner__nombre {
    text-align: center;
    font-size: 4em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 10px;
    color: rgba(255, 255, 255, 0.871);
}

/* importante */
.importante {
    background-color: rgb(228, 231, 248);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.768),
            rgba(0, 0, 0, 0.405)
        ),
        url(../img/wood-wall.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
    .banner__nombre {
        font-size: 2.7em;
    }
}
@media screen and (max-width: 400px) {
    .banner__nombre {
        font-size: 2em;
    }
}
