@import url("educación.css");
:root {
    --img-height: 230px;
    --img-width: 200px;
    --img-height-small: 130px;
    --img-width-small: 110px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner {
    height: 100vh;
    display: flex;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.138),
            rgba(0, 0, 0, 0.782)
        ),
        url(../img/banner-background.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: space-around;
}

.banner__nombre {
    text-align: center;
    font-size: 4em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 10px;
    color: rgba(255, 255, 255, 0.871);
}

/* importante */
.importante {
    background-color: rgb(228, 231, 248);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.768),
            rgba(0, 0, 0, 0.405)
        ),
        url(../img/wood-wall.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
    .banner__nombre {
        font-size: 2.7em;
    }
}
@media screen and (max-width: 400px) {
    .banner__nombre {
        font-size: 2em;
    }
}
/* Importante cursos */
.importante__cursos {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titulo titulo" "nova enei";
}
.cursos__titulo {
    grid-area: titulo;
    text-align: center;
    font-size: 4em;
    color: white;
    margin-top: 1.5em;
    margin-bottom: 2em;
    height: min-content;
}
/* Sección del Nova */
.cursos__nova {
    grid-area: nova;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    background-color: rgba(60, 88, 199, 0.707);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.nova__texto {
    font-size: 1.5em;
    color: white;
    margin: auto;
}
.nova__img {
    width: 230px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

/* Sección del Enei */
.cursos__enei {
    grid-area: enei;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    background-color: rgba(85, 151, 63, 0.768);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.enei__texto {
    color: white;
    font-size: 1.4em;
    margin: auto;
}
.enei__img {
    width: 30%;
    height: 80%;
    margin: auto;
}
@media screen and (max-width: 900px) {
    .importante__cursos {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-gap: 2em;
        grid-template-areas: "titulo" "nova" "enei";
    }
}
